.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }


h1 {
    color: #333;
}

.alert {
    background-color: #ffc107;
    color: #333;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

ol {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #e61d1d;
    border-radius: 7px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

    transition: background-color 0.3s;
}

li:hover {
    background-color: #f3f3f300;
}


