{% extends "layout.html" %}

{% block title %}
    COOP Discover
{% endblock %}

{% block main %}
    <h1>Discover and explore similar coop games</h1> <br>
    <div>
        {% if games %}
            <h2>Game: {{title}}</h2>
            <ol>
                {% for game in games %}
                    <li><a href="https://store.steampowered.com/app/{{ game['AppID']}}">{{ game['Name'] }}
                        <br> Score: {{game['PositiveRate']}} 
                        <br> Categories: {{game['Categories']}} 
                    </a></li>
                {% endfor %}
            </ol>

        {% else %}
            <h3>Game not found!</h3> 
            <h6>{{title}}</h6>
        {% endif %}
    </div>
{% endblock %}